<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <div mat-dialog-content>
    <p>
      Do you want to delete user <strong>{{ username || email }}</strong> for
      provider <strong>{{ provider }}</strong
      >?
    </p>
  </div>
  <br />
  <button mat-raised-button class="fill" color="primary" (click)="submit()">
    YES
  </button>
  <br />
  <br />
  <button mat-raised-button class="fill" mat-dialog-close>NO</button>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
