<div *ngIf="loading" class="center-content">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <mat-form-field class="fill">
    <input
      matInput
      [(ngModel)]="provider"
      (keydown)="keyDown($event)"
      placeholder="provider"
      #input
      [disabled]="id"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="fill">
    <input
      matInput
      [(ngModel)]="username"
      (keydown)="keyDown($event)"
      placeholder="username"
      #input
      [disabled]="id"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="fill">
    <input
      matInput
      [(ngModel)]="password"
      (keydown)="keyDown($event)"
      placeholder="password"
      #input
      (focus)="$event.target.select()"
    />
  </mat-form-field>
  <br />
  <woizpass-password-generator
    (generated)="password = $event"
  ></woizpass-password-generator>
  <br />
  <br />
  <button
    mat-raised-button
    color="primary"
    class="fill"
    [disabled]="!provider || !username || !password"
    (click)="submit()"
  >
    SAVE
  </button>
  <br />
  <br />
  <button mat-raised-button class="fill" mat-dialog-close>CANCEL</button>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
