<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <form (submit)="submit()" action="#">
    <mat-form-field class="fill">
      <input
        name="oldPassword"
        type="password"
        matInput
        [(ngModel)]="oldPassword"
        placeholder="old"
        #input
      />
    </mat-form-field>
    <br />
    <mat-form-field class="fill">
      <input
        name="newPassword"
        matInput
        [(ngModel)]="newPassword"
        placeholder="new"
        #input
        (focus)="$event.target.select()"
      />
    </mat-form-field>
    <br />
    <woizipass-password-generator
      (generated)="newPassword = $event"
    ></woizipass-password-generator>
    <br />
    <br />
    <button
      name="submit"
      type="submit"
      mat-raised-button
      color="primary"
      class="fill"
      [disabled]="!oldPassword || !newPassword"
      (click)="submit()"
    >
      SAVE
    </button>
    <br />
    <br />
    <button mat-raised-button class="fill" mat-dialog-close type="button">
      CANCEL
    </button>
  </form>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
