<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <mat-form-field class="fill">
    <input
      matInput
      [(ngModel)]="oldPassword"
      (keydown)="keyDown($event)"
      placeholder="old"
      #input
    />
  </mat-form-field>
  <br />
  <mat-form-field class="fill">
    <input
      matInput
      [(ngModel)]="newPassword"
      (keydown)="keyDown($event)"
      placeholder="new"
      #input
      (focus)="$event.target.select()"
    />
  </mat-form-field>
  <br />
  <woizpass-password-generator
    (generated)="newPassword = $event"
  ></woizpass-password-generator>
  <br />
  <br />
  <button
    mat-raised-button
    color="primary"
    class="fill"
    [disabled]="!oldPassword || !newPassword"
    (click)="submit()"
  >
    SAVE
  </button>
  <br />
  <br />
  <button mat-raised-button class="fill" mat-dialog-close>CANCEL</button>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
