html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fill {
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}

.center-content-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-container {
  height: auto !important;
}
