<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <p style="color: red; font-weight: bold">
    WARNING: All credentials will be overwritten with the credentials of this
    file.
  </p>
  <p style="color: red; font-weight: bold">
    WARNING: After the upload, you must use the master password of the uploaded
    file to log in.
  </p>
  <form (submit)="submit()" action="#">
    <mat-form-field class="fill">
      <input
        name="password"
        type="password"
        matInput
        [(ngModel)]="password"
        placeholder="current master password"
        #input
      />
    </mat-form-field>
    <mat-form-field class="fill">
      <input
        name="newPassword"
        type="password"
        matInput
        [(ngModel)]="newPassword"
        placeholder="file master password"
        #input
      />
    </mat-form-field>
    <input name="file" type="file" (change)="setFile($event)" #input />
    <br />
    <br />
    <button
      name="submit"
      type="submit"
      mat-raised-button
      color="primary"
      class="fill"
      [disabled]="!password || !newPassword || !hasFile"
      (click)="submit()"
    >
      UPLOAD
    </button>
    <br />
    <br />
    <button mat-raised-button class="fill" mat-dialog-close type="button">
      CANCEL
    </button>
  </form>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
