<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && !error">
  <form (submit)="submit()" action="#">
    <mat-checkbox name="changePassword" [(ngModel)]="changePassword"
      >Change password</mat-checkbox
    >
    <div *ngIf="changePassword">
      <br />
      <mat-form-field class="fill">
        <input
          name="password"
          matInput
          [(ngModel)]="password"
          [placeholder]="id ? '*****' : 'password'"
          #input
          (focus)="$event.target.select()"
        />
      </mat-form-field>
      <br />
      <woizipass-password-generator
        (generated)="password = $event"
      ></woizipass-password-generator>
    </div>
    <br />
    <br />
    <mat-form-field class="fill" autofocus="false">
      <input
        name="provider"
        matInput
        [(ngModel)]="provider"
        placeholder="provider"
        #input
        (focus)="$event.target.select()"
        type="text"
        [matAutocomplete]="providerAuto"
        [formControl]="providerControl"
        autofocus="false"
      />
      <mat-autocomplete #providerAuto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredProviders | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field class="fill">
      <input
        name="email"
        matInput
        [(ngModel)]="email"
        placeholder="email"
        #input
        (focus)="$event.target.select()"
        type="text"
        [matAutocomplete]="emailAuto"
        [formControl]="emailControl"
      />
      <mat-autocomplete #emailAuto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredEmails | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field class="fill">
      <input
        name="username"
        matInput
        [(ngModel)]="username"
        placeholder="username"
        #input
        (focus)="$event.target.select()"
        type="text"
        [matAutocomplete]="usernameAuto"
        [formControl]="usernameControl"
      />
      <mat-autocomplete #usernameAuto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredUsernames | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field class="fill">
      <textarea
        name="comment"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        [(ngModel)]="comment"
        placeholder="comment"
      ></textarea>
    </mat-form-field>
    <br />
    <br />
    <button
      mat-raised-button
      color="primary"
      class="fill"
      [disabled]="!provider"
      (click)="submit()"
      type="submit"
    >
      SAVE
    </button>
    <br />
    <br />
    <button type="button" mat-raised-button class="fill" mat-dialog-close>
      CANCEL
    </button>
  </form>
</div>

<div *ngIf="!loading && error">
  <p>{{ error }}</p>
  <button mat-raised-button class="fill" color="primary" mat-dialog-close>
    OK
  </button>
</div>
