<main>
  <div *ngIf="loading" class="center-content">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="error">{{ error }}</div>
    <div *ngIf="unauthorized">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="masterPassword"
          (keydown)="masterPasswordKeyDown($event)"
          placeholder="master password"
          #input
          name="masterPassword"
          type="password"
        />
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        [disabled]="!masterPassword"
        color="primary"
        class="fill"
        (click)="login()"
      >
        LOGIN
      </button>
    </div>
    <div *ngIf="!unauthorized && !error">
      <div>
        <button
          mat-raised-button
          color="primary"
          class="new"
          (click)="create()"
        >
          NEW
        </button>
        <button
          mat-raised-button
          class="logout"
          style="float: right"
          color="secondary"
          (click)="logout()"
        >
          LOGOUT
        </button>
        <button
          mat-raised-button
          class="change-master"
          style="float: right"
          color="secondary"
          (click)="openChangeMasterPasswordDialog()"
        >
          CHANGE MASTER PASSWORD
        </button>
      </div>
      <br />
      <woizpass-credential-table
        *ngIf="!unauthorized"
        (onUnauthorizedError)="onUnauthorizedError()"
      ></woizpass-credential-table>
    </div>
  </div>
</main>
