/* credential table */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}

table.credentials {
  width: 100%;
}

table.credentials td,
table.credentials th {
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

table.credentials td.buttons-cell {
  min-width: 80px;
}

table.credentials td:first-child,
table.credentials th:first-child {
  padding-left: 24px;
  padding-right: 5px;
}

table.credentials td:last-child,
table.credentials th:last-child {
  padding-left: 5px;
  padding-right: 10px;
}
