.credential-card {
  margin: 0 0 1rem 0;
}

.mat-card-actions button {
  margin: 0 8px 8px 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.mat-card-subtitle {
  color: black;
}