<div *ngIf="loading" class="center-content-horizontal">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <div *ngIf="error">{{ error }}</div>

  <mat-form-field class="fill">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="provider, email, username, url"
      #input
    />
  </mat-form-field>

  <mat-card *ngFor="let item of observableData | async" class="credential-card">
    <mat-card-header>
      <mat-card-title>{{ item.provider }}</mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="item.username">{{ item.username }}</span>
        <span *ngIf="item.username && item.email"> and </span>
        <span *ngIf="item.email">{{ item.email }}</span>
        <span *ngIf="(item.username || item.email) && item.url">
          on web sites matching
        </span>
        <span *ngIf="item.url">{{ item.url | replace: ';':' and ' }}</span>
        <br *ngIf="item.accessedAt" />
        <span *ngIf="item.accessedAt"
          >Last seen on {{ item.accessedAt | date }}</span
        >
      </mat-card-subtitle>
    </mat-card-header>
    <p *ngIf="item.password" style="color: red; font-weight: bold">
      {{ item.password }}
    </p>
    <mat-card-content style="clear: right" *ngIf="item.comment">
      <p [innerHtml]="item.comment | textToHtml"></p>
    </mat-card-content>
    <mat-spinner [diameter]="36" *ngIf="item.loading"></mat-spinner>
    <mat-card-actions *ngIf="!item.loading">
      <button mat-button (click)="copy(item)">
        <mat-icon>content_copy</mat-icon> COPY
      </button>
      <button mat-button (click)="item.password ? hide(item) : show(item)">
        <mat-icon *ngIf="item.password">lock_open</mat-icon>
        <mat-icon *ngIf="!item.password">lock</mat-icon>
        {{ item.password ? 'HIDE' : 'SHOW' }}
      </button>
      <button mat-button (click)="edit(item)">
        <mat-icon>edit</mat-icon> EDIT
      </button>
      <button mat-button (click)="openDeleteDialog(item)">
        <mat-icon>delete</mat-icon> DELETE
      </button>
    </mat-card-actions>
  </mat-card>

  <p *ngIf="!(observableData | async)?.length">
    No data matching the filter "{{ input.value }}"
  </p>
</div>
