<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  (click)="generate(8)"
  matTooltip="generate random password with 8 characters"
>
  8
</button>
<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  (click)="generate(16)"
  matTooltip="generate random password with 16characters"
>
  16
</button>
<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  (click)="generate(32)"
  matTooltip="generate random password with 32 characters"
>
  32
</button>
<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  (click)="generate(64)"
  matTooltip="generate random password with 64 characters"
>
  64
</button>
<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  [color]="includeSpecialCharacters ? 'accent' : ''"
  (click)="includeSpecialCharacters = !includeSpecialCharacters"
  [matTooltip]="
    (includeSpecialCharacters ? '' : 'do not ') + 'include special characters'
  "
>
  <mat-icon>code</mat-icon>
</button>
<button
  class="icon-button"
  tabindex="-1"
  mat-icon-button
  [color]="includeSimilarCharacters ? 'accent' : ''"
  (click)="includeSimilarCharacters = !includeSimilarCharacters"
  [matTooltip]="
    (includeSimilarCharacters ? '' : 'do not ') +
    'include similar looking characters'
  "
>
  <mat-icon>blur_on</mat-icon>
</button>
